.stats-card{
  background:var(--surface);
  padding:25px;
  border-radius:18px;
  box-shadow:var(--shadow);
}

.stats-card h3{
  color:var(--gray);
  margin-bottom:10px;
}

.task-card{
  background:var(--surface-light);
  padding:18px;
  border-radius:14px;

  margin-bottom:15px;

  display:flex;
  flex-direction:column;
}
.task-card:hover{
  transform:translateY(-4px);
  box-shadow:var(--shadow);
}

.priority{
  align-self:flex-start;
  margin-top:10px;
  padding:5px 12px;
  border-radius:20px;
  font-size:12px;
}
.high{
  background:rgba(225,29,72,.2);
  color:var(--red);
}

.medium{
  background:rgba(250,204,21,.15);
  color:var(--yellow);
}

.low{
  background:rgba(34,197,94,.15);
  color:var(--green);
}